Data Types and Structures Questions

(1) What are data structures, and why are they important?
-   Data structures is a way of the organisantion of the data so we can easily access the data and manipulate the data.
-It is important because we need to the data in the systematics way.

(2)  Explain the difference between mutable and immutable data types with examples?
-   Mutable data type menas we can change the item of the data like List etc
-   Immutable data type means we can not change the item of the data like Tuple,set etc

In [ ]:
list = ["Aditya",1,2]
Tuple = (1,2,3)
list[0] = 0
print(list) # List is muttable

[0, 1, 2]

In [ ]:
tuple[0] = 0
print(tuple) # Tuple is an immutable

TypeError: 'type' object does not support item assignment

(3) What are the main differences between lists and tuples in Python?
-    List is the type of the data structure in the list we can change the item of the list
-   Tuple is the type of the data structure in the tuple we can not change the item of the tuple.

(4) Describe how dictionaries store data.
-   Duictionary store the data in the form of the key-value pairs.

In [67]:
d = {"1":"Aditya","2":"Madan"}
print(d)

{'1': 'Aditya', '2': 'Madan'}

(5) Why might you use a set instead of a list in Python?
-   Because set is the unique collection of the item where as list is the collection of item it does not matter the repetation of the item.

(6) What is a string in Python, and how is it different from a list?
-   String is the type of the data structure where as list is also the type of the data structure but String is an immutable data but list is a mutable data.

(7) How do tuples ensure data integrity in Python?
-   Tuple ensure the integrity in python through the immutable when tha item is assignend to the tuple they do not change the item.

(8) What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is the data structure where it store the data in the form of the key-value pairs .
-So dictionary is also the key-value pairs and dictionary is also use the hash table

(9) Can lists contain different data types in Python?
- Yes , lists contain different data type in the python.

(10) Explain why strings are immutable in Python?
-    Strings are immutbale in python due to memory efficency.

(11) What advantages do dictionaries offer over lists for certain tasks?
-    Dictionary over the list due to dictionary has key-value paie item and it is easy to understand.

(12) Describe a scenario where using a tuple would be preferable over a list?
-    Tuple would be preferable over a list when the data are constant and we do not change the data.
-  like- Length of the square, Addhar Card number etc.

(13)  How do sets handle duplicate values in Python?
-  Set is collection of the unique item so set does not allowed the duplicate value inside it.

(14)  How does the “in” keyword work differently for lists and dictionaries?
-   In the list in keyword chack the value is presenet in the list or not
-   In the dictionary in keyword check the key is present in the dictionary not check the value of the dictinary .

In [68]:
List = [ 10, 20, 30]
d = {"name":"Aditya","roll no" :"230312028002"}
print(10 in List)
print("name" in d)

True
True

(15) Can you modify the elements of a tuple? Explain why or why not?
- No , we can not modify the element of the tuple because tuple is immutable data structure.

(16) P What is a nested dictionary, and give an example of its use case?
- Nested dictionary mens dictionary in the dictionary.
- Like a company has employee name and phone number with their roll number.

In [69]:
Emp = {1:{"Name":"Aditya","Roll No":"230312028002"},2:{"Name":"Madan","Roll No":"230312028003"}}
print(Emp)
print(Emp[1]["Name"])

{1: {'Name': 'Aditya', 'Roll No': '230312028002'}, 2: {'Name': 'Madan', 'Roll No': '230312028003'}}
Aditya

(17)  Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing the element in a dictionary is O(1)

(18)  In what situations are lists preferred over dictionaries?
-  When the key is unneccasry and item we get through the slicing.

(19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is considered unordered because dictionary work on the hash table.
- It's affect the data retrievel because key are unique but the value is same so it create the affect whent the data retrievel.

(20) Explain the difference between a list and a dictionary in terms of data retrieval.
-  In the list when we retrieval the data through the slicing and indexing.
- In the dictionary when we retrievel the data through the key.

                                      **  Practical Questions**

(1) Write a code to create a string with your name and print it.

In [70]:
Name = input("Enter your name:")
print(Name)

Enter your name:Aditya
Aditya

(2) Write a code to find the length of the string "Hello World".

In [71]:
a = "Hello World"
print(len(a))

11

(3) Write a code to slice the first 3 characters from the string "Python Programming"

In [72]:
a = "Python programming"
print(a[0:3])

Pyt

(4) Write a code to convert the string "hello" to uppercase.

In [73]:
a = "hello"
print(a.upper())

HELLO

(5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [74]:
a = "I like apple"
a= a.replace("apple","orange")
a

'I like orange'

(6) Write a code to create a list with numbers 1 to 5 and print it.

In [75]:
del list
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

(7) Write a code to append the number 10 to the list [1, 2, 3, 4]

In [76]:
list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

(8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [77]:
a = [1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

(9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']P

In [78]:
Aditya = ["a","b","c","d"]
Aditya[1]

'b'

(10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [79]:
a = [10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

(11)  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [80]:
a = ()
a = a + (100,200,300)
a

(100, 200, 300)

(12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [81]:
t = ("red","green","blue","yellow")
t[-2]

'blue'

(13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [82]:
t = (10,20,5,15)
min(t)

5

(14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [83]:
a = ("dog","cat","rabbit")
a.index("cat")

1

(15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [84]:
t = ("Apple","Banana","Kiwi")
if "Kiwi" in t:
  print(f"In the tuple {t} Kiwi is present")
else:
  print(f"In the tuple {t} Kiwi is not the present")

In the tuple ('Apple', 'Banana', 'Kiwi') Kiwi is present

(16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [85]:
s = {"a","b","c"}
print(s)

{'c', 'b', 'a'}

(17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [86]:
s = {1,2,3,4,5}
s.clear()
s

set()

(18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [87]:
s = {1,2,3,4}
s.discard(4)
s

{1, 2, 3}

(19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [88]:
a = {1,2,3}
b = {3,4,5}
c = a|b
c

{1, 2, 3, 4, 5}

(20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [89]:
a = { 1,2,3}
b = {2,3,4}
c = a&b
print(c)

{2, 3}

(21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [90]:
d = {"name":"Aditya","age":21,"city":"Delhi"}
d

{'name': 'Aditya', 'age': 21, 'city': 'Delhi'}

(22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [91]:
d = {"name":"John","age":25}
d["country"] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

(23) . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [93]:
a = {"name":"Alice","age":30}
a["name"]

'Alice'

(24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [98]:
a = {"name":"Bob","age":22,"city":"New York"}
a.pop("age")
a

{'name': 'Bob', 'city': 'New York'}

(25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [99]:
d = {"name":"Alice","city":"Paris"}
if "city" in d:
  print("city is present in dictionary d")
else:
  print("city is not the present in the dictionary d")

city is present in dictionary d

(26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [100]:
My_List = [10,20,30,40]
My_Tuple = (10,20,30,40)
My_dic = {"name":"Alice","city":"Paris"}
print(f"My list is {My_List}")
print(f"My tuple is {My_Tuple}")
print(f"My dictionary is {My_dic}")

My list is [10, 20, 30, 40]
My tuple is (10, 20, 30, 40)
My dictionary is {'name': 'Alice', 'city': 'Paris'}

(27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [109]:

a = []
for i in list(range(1,101)):
  if len(a) >=5:
    break
  a.append(i)
a.sort()
print(a)

[1, 2, 3, 4, 5]

(28) Write a code to create a list with strings and print the element at the third index.

In [110]:
L = ["Aditya","Kumar","Gupta"]
L[2]

'Gupta'

(29) Write a code to combine two dictionaries into one and print the result.

In [117]:
d = {"name":"Aditya"}
p = {"roll no":23031202894498}
d.update(p)
c = d
c

{'name': 'Aditya', 'roll no': 23031202894498}

In [118]:
d = {"name":"Aditya"}
p = {"roll no":23031202894498}
c = {**d,**p}
c

{'name': 'Aditya', 'roll no': 23031202894498}

(30)  Write a code to convert a list of strings into a set.

In [119]:
List = ["Aditya","Kumar","Gupta"]
a= set(List)
a

{'Aditya', 'Gupta', 'Kumar'}